body {
    margin : 0px;
    background-color: bisque;
    font-family: sans-serif;
}

.formcontainer{
    width: 600px;
    height: 750 px;
    margin:auto;
    border-radius: 5px;
    background-color: white;
    padding:30px;
}
input{
    width:90%;
    margin-left:20px;
    margin-bottom: 20px;
    font-size: 25px;
    height:40px;
}
label{
    margin-left: 0px 20px;
    margin-bottom: 20px;
}
h1{
    text-align: center;
}
label{
    margin-left:20px;
    margin-bottom:20px;
}
.hurryup{
    border : 1px solid black;
    width: 90%;
    margin-left: 20px;
    text-align: center;
    font-size: 35px;
    height:40px;
    border-radius:5px;
    background-color: cyan;
    padding:10px;
}
#register{
    width:90%;
    font-size: 30px;
    height:40px;
    background-color: cyan;
    border-radius:5px;
    padding:10px;
    height: 50px;
}
input:valid{
    border-color: green;
}
input:invalid{
    border-color: red;
}